<div class="main-container">

  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter">
        <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
      </p>
    </div>
  </div>
  <!-- /.search-bar-container -->

  <div class="note-list">
    <app-note-card [title]="'Test Title One'" [body]="'Body test Body testBody testBody testBody testBody test'"></app-note-card>
    <app-note-card [title]="'Test Title One'" [body]="'Body test Body testBody testBody testBody testBody test Body test Body testBody testBody testBody testBody Body test Body testBody testBody testBody testBody'"></app-note-card>
  </div>
  <!-- /.note-list -->
</div>
<!-- /.main-container -->
