

.main-container {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}


.floating-add-button {
  margin-top: 1rem;
}

.display-none {
  display: none;
}
