<div class="main-container">

  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter" (keyup)="filter($event.target.value)">
        <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
      </p>
    </div>
  </div>
  <!-- /.search-bar-container -->

  <div class="note-list">
    <div *ngIf="!noteCount" style="text-align:center; margin: 1rem 0">No data found!</div>
    <app-note-card
      *ngFor="let note of filteredNotes; index as i"
      [title]="note.title"
      [@itemAnim]
      [body]="note.body"
      [viewLink]="generateLink(note)"
      (delete)="deleteNote(note)"
    >
    </app-note-card>
  </div>
  <button class="button floating-add-button is-primary" routerLink="/new">+ Add</button>
  <!-- /.button -->
  <!-- /.note-list -->
</div>
<!-- /.main-container -->
