<div #container class="note-card-container">
    <div class="note-card-content">
      <h1 class="note-card-title">Test Title</h1>

      <div class="note-card-body">
        <p>Body text Body text Body textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody textBody text textBody textBody textBody textBody text textBody textBody textBody textBody text</p>
        <div class="fade-out-truncation"></div>
      </div>

      <div class="x-button">
        <i class="fas fa-times"></i>
      </div>
    </div>

</div>
